.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-1 .u-list-1 {
  width: 196px;
  margin: 39px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 803px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 24px auto 0;
  padding: 7px 20px 9px 19px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0 36px;
  padding: 8px 25px 8px 24px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 7px 13px 9px 11px;
}

.u-section-1 .u-text-2 {
  margin: -759px 402px 0 642px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -31px 228px 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-list-2 {
  width: 196px;
  margin: -75px 0 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 803px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 26px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 17px 10px 0 60px;
}

.u-section-1 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 10px 0 60px;
}

.u-section-1 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 10px 0 60px;
}

.u-section-1 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 10px 0 60px;
}

.u-section-1 .u-icon-5 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 10px 0 60px;
}

.u-section-1 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 10px 0 60px;
}

.u-section-1 .u-icon-7 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 10px 0 60px;
}

.u-section-1 .u-icon-8 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 10px 0 60px;
}

.u-section-1 .u-icon-9 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 10px 0 60px;
}

.u-section-1 .u-icon-10 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 10px 0 60px;
}

.u-section-1 .u-icon-11 {
  width: 48px;
  height: 48px;
  margin: -49px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 728px;
  min-height: 53px;
  margin: -695px auto 0 184px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 8px;
  padding-right: 8px;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 8px auto 0 7px;
}

.u-section-1 .u-icon-12 {
  width: 35px;
  height: 35px;
  margin: -32px 44px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 728px;
  min-height: 689px;
  margin: 35px auto 0 184px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-line-1 {
  height: 104px;
  left: 113px;
  top: 541px;
  position: absolute;
  width: 3px;
  transform-origin: center top 0px;
}

.u-section-1 .u-icon-13 {
  width: 48px;
  height: 48px;
  margin: 5px auto 0 7px;
}

.u-section-1 .u-text-15 {
  margin: -38px 26px 0 65px;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  margin: 8px 26px 0 65px;
}

.u-section-1 .u-image-1 {
  width: 611px;
  height: 354px;
  margin: 13px 26px 0 auto;
}

.u-section-1 .u-icon-14 {
  width: 35px;
  height: 35px;
  background-image: none;
  margin: 6px auto 0 141px;
}

.u-section-1 .u-icon-15 {
  width: 28px;
  height: 28px;
  margin: -32px auto 0 65px;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: -28px 572px 0 103px;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: -28px 492px 0 183px;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  margin: 20px 26px 0 189px;
}

.u-section-1 .u-icon-16 {
  width: 48px;
  height: 48px;
  margin: -52px auto 0 123px;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 20px 26px 0 189px;
}

.u-section-1 .u-icon-17 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: -38px auto 0 123px;
}

.u-section-1 .u-icon-18 {
  width: 32px;
  height: 32px;
  margin: -763px 241px 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  margin: 699px 0 -7px auto;
  padding: 8px 62px 9px 61px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 636px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 302px;
    margin-left: 542px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 28px;
  }

  .u-section-1 .u-icon-15 {
    margin-top: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 595px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 192px;
    margin-left: 432px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 22px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 22px;
    margin-left: 61px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 22px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 568px;
    margin-left: 99px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 488px;
    margin-left: 179px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 22px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 22px;
    margin-left: 185px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 102px;
    margin-left: 342px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 301px;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 478px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 398px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 2px;
    margin-left: 242px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 185px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 87px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 287px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 287px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-16 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-17 {
    margin-left: 76px;
  }

  .u-section-1 .u-icon-18 {
    margin-right: 88px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 837px;
}

.u-section-2 .u-list-1 {
  width: 196px;
  margin: 1px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-2 {
  width: 196px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-group-1 {
  width: 728px;
  min-height: 339px;
  height: auto;
  margin: -1px auto 0 187px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-line-1 {
  height: 104px;
  left: 113px;
  top: 182px;
  position: absolute;
  width: 3px;
  transform-origin: center top 0px;
}

.u-section-2 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 6px 647px 0 7px;
}

.u-section-2 .u-text-1 {
  margin: -38px 26px 0 65px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 13px 26px 0 65px;
}

.u-section-2 .u-icon-2 {
  width: 28px;
  height: 28px;
  margin: 11px auto 0 65px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: -28px 569px 0 103px;
}

.u-section-2 .u-icon-3 {
  width: 35px;
  height: 35px;
  background-image: none;
  margin: -32px auto 0 133px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: -30px 500px 0 175px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 31px 26px 0 189px;
}

.u-section-2 .u-icon-4 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: -35px auto 0 123px;
}

.u-section-2 .u-icon-5 {
  width: 48px;
  height: 48px;
  margin: 7px auto 0 123px;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: -52px 26px 0 189px;
}

.u-section-2 .u-group-2 {
  width: 728px;
  min-height: 402px;
  height: auto;
  margin: 87px auto 40px 187px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-line-2 {
  height: 172px;
  left: 113px;
  top: 185px;
  position: absolute;
  width: 3px;
  transform-origin: center top 0px;
}

.u-section-2 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 9px auto 0 7px;
}

.u-section-2 .u-text-7 {
  margin: -49px 26px 0 65px;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 4px 26px 0 65px;
}

.u-section-2 .u-icon-7 {
  width: 28px;
  height: 28px;
  margin: 11px auto 0 65px;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: -30px 566px 0 106px;
}

.u-section-2 .u-icon-8 {
  width: 35px;
  height: 35px;
  background-image: none;
  margin: -32px auto 0 144px;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: -30px 489px 0 186px;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  margin: 28px 26px 0 189px;
}

.u-section-2 .u-icon-9 {
  width: 48px;
  height: 48px;
  margin: -38px auto 0 123px;
}

.u-section-2 .u-icon-10 {
  width: 48px;
  height: 48px;
  margin: 16px auto 0 123px;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: -38px 26px 0 189px;
}

.u-section-2 .u-icon-11 {
  width: 48px;
  height: 48px;
  background-image: none;
  margin: 24px auto 0 123px;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  margin: -38px 29px 0 186px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 636px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-group-1 {
    margin-right: 0;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -116px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 204px;
  }

  .u-section-2 .u-group-2 {
    margin-right: 0;
    margin-left: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 595px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 640px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 22px;
    margin-left: 61px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 22px;
    margin-left: 61px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 565px;
    margin-left: 99px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 496px;
    margin-left: 171px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 22px;
    margin-left: 185px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 22px;
    margin-left: 185px;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 22px;
    margin-left: 61px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 22px;
    margin-left: 61px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 61px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 562px;
    margin-left: 102px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 485px;
    margin-left: 182px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 22px;
    margin-left: 185px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 22px;
    margin-left: 185px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 25px;
    margin-left: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 475px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 475px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 406px;
    margin-left: 81px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 472px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 395px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 284px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 52px;
    margin-left: 82px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 287px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -53px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -7px;
    margin-left: 76px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: -21px;
    margin-left: 76px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 284px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-8 {
    margin-left: 89px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 287px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 76px;
  }

  .u-section-2 .u-icon-10 {
    margin-left: 76px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-11 {
    margin-left: 76px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }
}