.u-section-1 {
  background-image: linear-gradient(45deg, #379cd2, #4cb1e7);
}

.u-section-1 .u-sheet-1 {
  min-height: 779px;
}

.u-section-1 .u-group-1 {
  width: 600px;
  min-height: 495px;
  margin: 104px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 91px 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  margin: 38px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 38px auto 0 0;
  padding: 30px 73px 30px 72px;
}

.u-section-1 .u-image-1 {
  width: 469px;
  height: 683px;
  object-position: 24.63% 0%;
  margin: -503px 0 -180px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 292px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-top: 30px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 92px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
    margin-right: -8px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 495px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-group-1 {
  min-height: 218px;
  width: 801px;
  height: auto;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  margin: 37px 60px 0;
}

.u-section-2 .u-line-1 {
  width: 62px;
  height: 7px;
  transform-origin: left center 0;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 51px 60px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 37px;
  margin-bottom: 59px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 449px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 28px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  margin: 20px 2px 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 2px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 28px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  margin: 20px 2px 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 2px 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 28px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  margin: 20px 2px 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 2px 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-line-1 {
    width: 51px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 370px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-line-1 {
    width: 39px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 850px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-line-1 {
    width: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 342px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 342px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 342px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-line-1 {
    width: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-image-1 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 210px;
    margin-right: initial;
    margin-left: initial;
  }
}