.u-section-1 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0 -2px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 18px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 346px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-icon-1 {
  width: 73px;
  height: 73px;
  background-image: none;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -36px auto 0 89px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -52px auto 0 89px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -20px 9px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px 153px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-icon-2 {
  width: 73px;
  height: 73px;
  background-image: none;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: -36px auto 0 89px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -52px auto 0 89px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -20px 9px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px 153px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-icon-3 {
  width: 73px;
  height: 73px;
  background-image: none;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: -36px auto 0 89px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -52px auto 0 89px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -20px 9px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px 153px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-text-8 {
  margin: 19px auto 0 0;
}

.u-section-1 .u-list-2 {
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 440px;
}

.u-section-1 .u-container-layout-4 {
  padding: 17px 22px;
}

.u-section-1 .u-icon-4 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 17px 22px;
}

.u-section-1 .u-icon-5 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 17px 22px;
}

.u-section-1 .u-icon-6 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 17px 22px;
}

.u-section-1 .u-icon-7 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 17px 22px;
}

.u-section-1 .u-icon-8 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 17px 22px;
}

.u-section-1 .u-icon-9 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-21 {
  margin: 19px auto 18px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: -35px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -35px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -35px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 131px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -89px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 363px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-8 {
    margin-top: 469px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -427px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 626px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 1819px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -1777px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 919px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-list-1 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 440px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 22px;
}

.u-section-2 .u-icon-1 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 17px 22px;
}

.u-section-2 .u-icon-2 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 17px 22px;
}

.u-section-2 .u-icon-3 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 17px 22px;
}

.u-section-2 .u-icon-4 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 17px 22px;
}

.u-section-2 .u-icon-5 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 17px 22px;
}

.u-section-2 .u-icon-6 {
  width: 79px;
  height: 79px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 363px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 626px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}