.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-group-1 {
  width: 584px;
  min-height: 603px;
  height: auto;
  margin: 45px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 86px;
  width: 86px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  height: 282px;
  width: 524px;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: none;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 64px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  margin: -130px auto 60px;
  padding: 10px 169px 11px 168px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 220px;
    padding-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}