.u-section-1 .u-sheet-1 {
  min-height: 418px;
}

.u-section-1 .u-group-1 {
  min-height: 210px;
  margin-top: -15px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-icon-1 {
  width: 191px;
  height: 191px;
  margin: -105px auto 0 52px;
}

.u-section-1 .u-shape-1 {
  width: 44px;
  height: 44px;
  margin: -54px 353px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -35px 101px 0 809px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 31px auto 0 42px;
}

.u-section-1 .u-text-3 {
  margin: 11px 878px 29px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -63px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 1px;
    margin-left: 709px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 710px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 490px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 490px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-right: 296px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 110px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 110px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 371px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 21px auto 0 35px;
}

.u-section-2 .u-list-1 {
  width: 1070px;
  margin: 30px auto 13px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 271px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-shape-1 {
  width: 56px;
  height: 56px;
  margin: 35px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -61px 642px 0 86px;
}

.u-section-2 .u-text-3 {
  margin: 0 604px 0 86px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-shape-2 {
  width: 56px;
  height: 56px;
  margin: 35px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -61px 642px 0 86px;
}

.u-section-2 .u-text-5 {
  margin: 0 604px 0 86px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 577px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 539px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 577px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 539px;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 378px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 378px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 340px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 238px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 200px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 238px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 38px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 38px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 238px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 15px auto 0 35px;
}

.u-section-3 .u-list-1 {
  width: 1070px;
  margin: 30px auto 25px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 132px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-shape-1 {
  width: 56px;
  height: 56px;
  margin: 35px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -61px 642px 0 86px;
}

.u-section-3 .u-text-3 {
  margin: 0 604px 0 86px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 577px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 539px;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 378px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 340px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 238px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 38px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 238px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 15px auto 0 35px;
}

.u-section-4 .u-list-1 {
  width: 1070px;
  margin: 27px auto 45px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 115px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-shape-1 {
  width: 56px;
  height: 56px;
  margin: 27px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -56px 567px 0 86px;
}

.u-section-4 .u-text-3 {
  margin: 0 604px 0 86px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 502px;
    margin-left: 21px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 539px;
    margin-left: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 303px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 340px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 163px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 238px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 15px auto 0 35px;
}

.u-section-5 .u-list-1 {
  width: 1070px;
  margin: 27px auto 45px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 115px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 19px 835px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -28px 603px 0 232px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 15px 812px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 705px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 538px;
    margin-left: 167px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 682px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 485px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 428px;
    margin-left: 57px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 345px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 345px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 145px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 145px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 122px;
  }
}